# Employee Database (MySQL)
DB_EMPLOYEE_USERNAME=root
DB_EMPLOYEE_PASSWORD=changeme

# Department Database (PostgreSQL)
DB_DEPARTMENT_USERNAME=postgres
DB_DEPARTMENT_PASSWORD=changeme

# Weather API (https://www.weatherapi.com/signup.aspx)
WEATHER_API_KEY=changeme
